*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url(../fonts/ofont.ru_Montserrat.ttf);
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url(../fonts/ofont.ru_Montserrat_bold.ttf);
}
@font-face {
    font-family: 'Montserrat-extrabold';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

/*Навигация сайта*/

@font-face {
    font-family: 'Montserrat-medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}
.nav{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_blocklogo{
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.2s;
}
.nav_blocklogo:active,
.nav_blocklogo:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.nav_block-menu_item{
    text-decoration: none;
    font-family: 'Montserrat-medium';
    color: black;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 44px;
    transition: 0.2s;
    margin-left: 30px;
    margin-right: 30px;
}
.nav_block-menu_item:active,
.nav_block-menu_item:hover{
    border-bottom: 8px solid;
    border-image-source: linear-gradient(90deg, #FFDD00, #FBB034);
    border-image-slice: 1;
    transition: 0.2s;
}
.nav_block-menu_item-active{
    border-bottom: 8px solid;
    border-image-source: linear-gradient(90deg, #FFDD00, #FBB034);
    border-image-slice: 1;
    transition: 0.2s;
}
.nav_social-block_item{
    margin-left: 17px;
    margin-right: 17px;
    transition: 0.2s;
}
.nav_social-block_item:active,
.nav_social-block_item:hover{
    opacity: 0.7;
    transition: 0.2s;
}
.nav_pers-account-block{
    display: none;
}
.nav_pers-account-block_link{
    background-color: #1BD850;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-right: 8px;
    align-items: center;
    transition: 0.2s;
}
.nav_pers-account-block_link:active,
.nav_pers-account-block_link:hover{
    box-shadow:
      1px 1px #35CD5F,
      2px 2px #35CD5F,
      3px 3px #35CD5F,
      4px 4px #35CD5F,
      5px 5px #35CD5F;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    transition: 0.2s;
}
.nav_pers-account-block_link_content{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat-regular';
    text-align: center;
    margin-left: 9px;
}
.nav_pers-account-block_link_img{
    padding: 10px;
    background-color: #35CD5F;
}

.nav_menu,.footer_menu,.footer_arrow {
    display: none;
}

/*Подвал сайта*/
main{
    min-height: calc(100vh - 185px);
}
footer{
    max-width: 1200px;
    margin: auto;
    background-color: black;
    background-size: 100% 185px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 185px;
}
.black-footer{
    background-color: black;
    background-size: 100% 185px;
    width: 100%;
    height: 185px;
}
.footer_blocklogo{
    transition: 0.2s;
}
.footer_blocklogo:active,
.footer_blocklogo:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.footer_block-menu_item{
    text-decoration: none;
    font-family: 'Montserrat-regular';
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 10px;
    transition: 0.2s;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.footer_block-menu_item:active,
.footer_block-menu_item:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}
.footer_block-menu_item-active{
    background-color: white;
    color: black;
    transition: 0.2s;
}
.footer_social-block_item{
    margin-left: 17px;
    margin-right: 17px;
    transition: 0.2s;
}
.footer_social-block_item:active,
.footer_social-block_item:hover{
    opacity: 0.8;
    transition: 0.2s;
}
.footer_creators{
    display: flex;
    flex-direction: column;
}
.footer_creators_text{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Montserrat-regular';
    color: #878787;
}
.footer_creators_link{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Montserrat-regular';
    color: #878787;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;
}
.footer_creators_link:after{
    background-color: white; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.footer_creators_link:focus:after,
.footer_creators_link:hover:after{
    width: 100%;
}
.show{
    opacity: 1;
    transition: 0.2s;
}